<%- include('../partials/header'); %>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="card shadow border-0">
					
					<h1>hello</h1>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<%- include('../partials/topfooter'); %>
	</div>

	<%- include('../partials/footer'); %>
		